.btn{
	position: relative;
}
.container{
	position: relative;
}
.item {
	display: block;
	width:80px;
	height: 80px;
	background: greenyellow;
	border: 3px dotted grey;
}
.dropzone {
	float: left;
	width: 110px;
	min-height: 110px;
	height: auto;
	background: #ffff00;
	border: 3px dotted grey;
	margin-left:10px;
}
.dropzonen {
	float: left;
	width: 110px;
	min-height: 110px;
	height: auto;
	background: hotpink;
	border: 3px dotted grey;
	margin-left:10px;
}
.scroll
{
	width: 100%;
	height: 300px;
	overflow: auto;
}