.btn {
	position: relative;
}

.container {
	position: relative;
	background-color: lightcyan;
}

.item {
	display: block;
	width: 80px;
	height: 80px;
	background: greenyellow;
	border: 3px dotted grey;
}

.dropzone {
	float: left;
	width: 110px;
	min-height: 110px;
	height: auto;
	background: #ffff00;
	border: 3px dotted grey;
	margin-left: 10px;
}

.dropzonen {
	float: left;
	width: 110px;
	min-height: 110px;
	height: auto;
	background: hotpink;
	border: 3px dotted grey;
	margin-left: 10px;
}

.row {
	min-height: 50px;
}

.main {
	min-height: 600px;
}

.img-thumbnail:hover {
	border: 2px lightskyblue solid;
	-moz-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}

.acco {
	height: 150px;
}
.tab {
	height: 500px;
}